body { 

font-family : sans-serif; 

font-size : 1.5em; 

font-weight : bold; 

font-style : normal; 

margin : auto; 

width : auto; 

background-color : #0f0f0f0f; 

color : #000000; 

line-height : 1.5em; 

letter-spacing : 0.12em; 

word-spacing : 0.16em; 

margin-bottom : 2em; 

} 

.navbar { 

background-color : #ffff00; 

border-radius : 2px; 

width : auto; 

} 

.navbar a { 

color : #aaa; 

display : inline-block; 

font-size : 15px; 

padding : 10px; 

text-decoration : none; 

} 

.navbar a:hover { 

color : #ffffff; 

} 

cite { 

font-style : normal; 

} 

table, th, td { 

padding : 15px; 

} 

table, th, td { 

border : black solid 1px; 

border-collapse : collapse; 

} 

th { 

text-align : left; 

} 

footer { 

background-color : #9BC1C2; 

font-size : 0.60em; 

text-align : center; 

font-style : normal; 

padding : 1em; 

} 

span { 

background-color : #DFBFDF; 

} 

sup { 

vertical-align: super;

font-size: smaller;

}
